@import url('https://fonts.googleapis.com/css?family=Ranchers|Roboto+Condensed|Share+Tech+Mono&display=swap')

// Fonts
$creative: 'Ranchers', Arial, sans-serif
$coder: 'VT323', monospace
$primary: 'Roboto Condensed', sans-serif

// Colors
$cool-blue: #9DB8D3
$red: #f2395a
$dark-gray: #1e1f26
$coder-gray: #272c34
$white: #ffffff

$yellow: #f8ab37
$green: #2ecc71
$grey-light: #f2f7f9
$grey: #ecedf3
$black: #080808
$black-blue: #1f2029
$black-blue-light: #353746
$black-blue-light-2: #404255
$black-blue-light-3: #4b4d64
$black-light: #424455
// Margin
$margin: .5em
$box-margin: $margin * 2

// Breakpoints
$sm: 768px
$md: 1200px
$lg: 1400px
