<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/favicon/site.webmanifest">
<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#9db8d3">
<meta name="msapplication-TileColor" content="#1d1f26">
<meta name="theme-color" content="#e2e2e2">
