

<div class="portfolio" id="{{ portfolio.thumbnail }}" >
  {% for portfolio in site.categories.print %}
  <a class="portfolio-item" href="#{{ portfolio.thumbnail }}"  style="background-color: #{{ portfolio.color }} " aria-label="{{ portfolio.thumbnail }} Details"> 
    <div class="portfolio-image" style="background-image: url( /assets/img/print/{{ portfolio.thumbnail }}.svg )">
      <div class="portfolio-image-content">
        <h2>{{portfolio.title}}</h2>
        <p>{{portfolio.meta}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
