<div class="portfolio" id="web">
  {% for portfolio in site.categories.web %}
  <div class="portfolio-item web" style="background-color:#{{ portfolio.color }};">
  <article class="preview" id="web-preview" >
    <div class="browser">
    <div class="browser__chrome ">
      <span class="browser__dots "></span>
    </div>
    <div class="browser__bd ">
      <figure class="preview__fig ">
        <span class="imgset is-loaded is-loaded">
          <span class="imgset__background" style="background-image: url( /assets/img/web/{{ portfolio.thumbnail }} )">
            <div class="preview__actions ">
              <a href="{{ portfolio.link }}" target="_blank" class="tooltip web-tip preview__action preview__action--globe" title="Visit Website" >
              </a>
              <a href="{{ portfolio.url }}" class="tooltip web-tip preview__action preview__action--eye" title="Details">
              </a>
            </div>
          </span>
        </span>
      </figure>
    </div>
    </div>
    <div class="preview__meta ">
      <h2 class="preview__title ">{{ portfolio.title }}</h2>
      <p class="preview__date ">{{ portfolio.date }}</p>
    </div>
  </article>
  </div>
  {% endfor %}
</div>
