<div class="portfolio" id="web">
  {% for portfolio in site.categories.web %}
  <div class="portfolio-item">
  <article class="Preview">
    <div class="Browser">
    <div class="Browser__chrome ">
      <span class="Browser__dots "></span>
    </div>
    <div class="Browser__bd ">
      <figure class="Preview__fig ">
        <span style="padding-bottom:62.5%;background-color:#{{ portfolio.color }}" class="Imgset is-loaded is-loaded">
          <span class="Imgset__background" style="background-image: url( /assets/img/print/{{ portfolio.thumbnail }} )">
          </span>
        </span>
        <div class="Preview__actions ">
          <a href="{{ portfolio.link }}" target="_blank" class="tooltip bottom Preview__action Preview__action--globe" title="Visit Website" >
          </a>
          <a href="{{ portfolio.url }}" class="tooltip bottom Preview__action Preview__action--eye" title="Details">
          </a>
        </div>
      </figure>
    </div>
    </div>
    <div class="Preview__meta ">
      <h1 class="Preview__title ">{{ portfolio.title }}</h1>
      <div class="Preview__date ">{{ portfolio.date }}</div>
    </div>
  </article>
  </div>
  {% endfor %}
</div>
