<div class="portfolio">
  {% for portfolio in site.categories.web %}
  <div class="portfolio-item web" style="background-color: #272c34;">
  <article class="preview web-preview" >
    <div class="browser">
    <div class="browser__chrome ">
      <span class="browser__dots"></span>
    </div>
    <div class="browser__bd">
      <figure class="preview__fig">
        <span class="imgset is-loaded is-loaded">
          <span class="imgset__background">
              <picture>
                <source srcset="/assets/img/web/{{ portfolio.thumbnail }}.webp" type="image/webp">
                <img loading="lazy" src="/assets/img/web/{{ portfolio.thumbnail }}.jpg" alt="">
              </picture>
            <div class="preview__actions ">
              <a  rel="noopener" href="{{ portfolio.link }}" target="_blank" class="preview__action" title="Visit {{ portfolio.title }} Website" >
                <img src="/assets/img/internet.svg" class="preview__action--globe" alt="globe logo">
                <span>Visit {{ portfolio.title }} Website</span>
              </a>
              <!--<a href="{{ portfolio.url }}" class="preview__action preview__action--eye" title="{{ portfolio.title }} Details">
                Details
              </a>-->
            </div>
          </span>
        </span>
      </figure>
    </div>
    </div>
    <div class="preview__meta ">
      <h2 class="preview__title ">{{ portfolio.title }}</h2>
    </div>
  </article>
  </div>
  {% endfor %}
</div>
