.portfolio
  margin-top: 65px
  +flex()
  flex-wrap: wrap
  flex-direction: row
  .portfolio-item
    padding: 0
    margin: 0
    height: 450px
    flex: 1 1 calc(100%)
    background-color: orange
    @media (min-width: 950px)
      flex: 1 1 calc(100% / 2)
    .portfolio-image
      display: flex
      justify-content: center
      align-items: baseline
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-position: center
      &-content
        width: 100%
        background-color: $dark-gray
        background-color: hsla(233, 12%, 13%, .9)
        padding: 20px 30px
        position: relative
        top: 100%
        transform: translateY(-100%)
        display: block
        opacity: 0
        line-height: .5em
        color: white
        text-align: left
        +transition(.45s)
        h2
          font-size: 1.3rem
        p
          font-size: 1rem
    &:hover
      .portfolio-image-content
        opacity: 1
    &.web
      height: auto
// web styles

.preview
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  display: block
  font-size: 12px
  max-width: 500px
  margin: auto
  padding-top: 20px
  &__meta
    margin: 10px 0
    &:after
      content: ""
      display: table
      clear: both
    &__title
      float: left
    &__date
      float: right
      opacity: 0.5
  &__fig
    position: relative
    overflow: hidden
    width: 100%
    margin: 0 auto
  .imgset
    transition: -webkit-transform 0.4s
    transition: transform 0.4s
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
  &__actions
    position: absolute
    top: 50%
    right: 0
    bottom: 0
    left: 0
    text-align: center
  &__action
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    position: absolute
    top: 10px
    bottom: 10px
    background-position: center 30%
    background-repeat: no-repeat
    width: calc(50% - 15px)
    box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.15)ß
    opacity: 0
    background-position: center center
    &--globe
      left: 10px
      background-color: $coder-gray
      background-image: url("../img/internet.svg")
      background-size: $icon-size
    &--eye
      right: 10px
      background-color: $coder-gray
      background-image: url('../img/view.svg')
      background-size: $icon-size
  &:hover
    .preview__action
      opacity: 1
  &#web-preview
    max-width: 700px

// fake Browswer

[data-component="browser"]
  padding: 2em

.browser
  margin: 20px
  border-radius: 5px 5px 0 0
  overflow: hidden
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.07)
  font-size: 11px
  &__chrome
    display: block
    height: 13px
    background-color: #242424
    position: relative
  &__dots
    display: block
    top: 5px
    left: 6px
    background-color: #fc625d
    &:before
      background-color: #fec041
      content: ''
      top: 0
      left: 7px
    &:after
      background-color: #32ca47
      content: ''
      top: 0
      left: 14px
  &__fig
    position: relative
    padding-bottom: 62.5%
    background-color: #eee
  &__title
    color: #fff
    padding: 4px 48px 3px 48px
    line-height: 1.5
    font-size: 12px
    display: block
    text-align: center
    width: 100%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  &--onDark
    box-shadow: 0 2px 30px #000
  &--large
    border-radius: 8px 8px 0 0
    .browser__chrome
      height: 25px
      border-radius: 8px 8px 0 0
    .browser__dots
      display: block
      top: 10px
      left: 9px
    .browser__dots:before
      left: 12px
    .browser__dots:after
      left: 24px


.browser__dots,
.browser__dots:before,
.browser__dots:after
  position: absolute
  width: 4px
  height: 4px
  border-radius: 100%

.browser--large .browser__dots,
.browser--large .browser__dots:before,
.browser--large .browser__dots:after
  width: 6px
  height: 6px

.imgset
  display: block
  position: relative
  padding: 0
  padding-bottom: 56.25%
  overflow: hidden
  margin-left: 0 !important
  margin-right: 0 !important
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
  &__background
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    transition: opacity 0.5s
    opacity: 0
  &--fillParent
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding-bottom: 0 !important
  &.is-loaded
    .imgset__background
      opacity: 1
