.preview
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  display: block
  font-size: 12px
  max-width: 500px
  margin: auto
  padding-top: 60px
  @media (min-width: 950px)
    padding-top: 30px
  &:first-child
    @media (min-width: 950px)
      padding-top: 40px
  &__meta
    margin: 10px 0
    text-align: center
    display: none
    @media (min-width: 950px)
      display: block
    &:after
      content: ""
      display: table
      clear: both
  &__fig
    position: relative
    overflow: hidden
    width: 100%
    margin: 0 auto
  .imgset
    transition: -webkit-transform 0.4s
    transition: transform 0.4s
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
  &__actions
    position: absolute
    @media (min-width: $lg)
      top: 50%
    right: 0
    bottom: 0
    left: 0
    text-align: center
  &__action
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    position: relative
    box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.15)
    opacity: 1
    margin-top: 10px
    text-align: center
    font-size: 2em
    line-height: 1.4
    color: white
    background-color: $coder-gray
    transition: all 0.4s
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    max-height: 200px
    padding: 15px
    @media (min-width: 950px)
      position: absolute
      opacity: 0
      bottom: 10px
      left: 10px
      right: 10px
    &--globe
      height: 60px
      width: 60px !important
      padding-right: 10px
      display: none
      @media (min-width: 950px)
        display: block
    &--eye
      right: 10px
      background-image: url('../img/view.svg')
  &:hover
    .preview__action
      opacity: 1

  &.web-preview
    max-width: 700px
