---
layout: wrapper
---

<section aria-label="Project: {{page.title}}">
  <div class="portfolio-image" style="background-image: url(/assets/img/print/{{ page.thumbnail }} )">
  </div>
</section>

<section aria-label="{{page.title}} Project Context">
  <h2>About The Project</h2>
  <div class="portfolio-context">
    <div class="brief">
      <h3>Design Brief</h3>
      <p>{{ page.brief }}</p>
    </div>
    <div class="challenges">
      <h3>Challenges</h3>
      <p>{{ page.challenges }}</p>
    </div>
    <div class="goals">
      <h3>Goals</h3>
      <p>{{ page.goals }}</p>
    </div>
  </div>
</section>

<section aria-label="{{page.title}} Project Sketches" style="background-image: url(/assets/img/print/{{ page.thumbnail }} )>
  <div class="portfolio-sketches">
    <h2>Sketches</h2>
</section>

<section aria-label="{{page.title}} Project Options">
  <div class="portfolio-Options">
    <h2>Options</h2>
</section>

<section aria-label="{{page.title}} Project Colors">
  <div class="portfolio-Colors">
    <h2>Colors</h2>
</section>

<section aria-label="{{page.title}} Project Final">
  <div class="portfolio-Final">
    <h2>Final</h2>
</section>

<section aria-label="{{page.title}} Project Testimonial">
  <div class="portfolio-Testimonial">
    <h2>Testimonial</h2>
    <p class="{{page.testimonial}}"></p>
</section>
